@font-face {
      font-family: 'fontello';
      src: url('../font/fontello1.eot?83179224');
      src: url('../font/fontello1.eot?83179224#iefix') format('embedded-opentype'),
           url('../font/fontello1.woff?83179224') format('woff'),
           url('../font/fontello1.ttf?83179224') format('truetype'),
           url('../font/fontello1.svg?83179224#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;   
      color:#000;
    }
    .support{
    	position:absolute;
    	margin-top:20px;
    	margin-left:-40px
    	
    }
    .support button{
    	background:#ccc;
    	border:none;
    	border-radius:4px;
    	padding:5px 8px;
    	margin-bottom:4px;
    	cursor: pointer;
    }
    .showTime{
    	padding:10px 0px;
    	color:#999;
    }
.TypeList{
	padding:10px;
}
.Type{
	background:#eff6fa;
	margin-top:10px;
	padding:3px 7px;
	border-radius:4px;
}
.Type:hover{
	background:#259;
	color:#fff;
}
.title{
	font-size:18px;
	line-height: 40px;
}
.ThemeContent{
	margin-bottom:20px;
}
.reply{
	border-top:1px solid rgba(0,0,0,0.1)
}
.userInfo{
	padding:10px 0px;
	font-size:14px;
}
.orderBy{
	padding:10px;
	border-top:1px solid rgba(0,0,244,0.1);
}
.orderBy a{
	padding:0px 10px;
	color:#666;
}
.orderBy b{
	font-size:14px;
}
.PubTheme{
	margin-left:10px;
	border:none;
	color:#fff;
}
.PubTheme a{
	color:#fff;
}
.bactive{
	background-color:#698ebf;
}